@font-face {
    font-family: Cascadia;
    src:url(./font/Cascadia.ttf);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Cascadia';
}
.container{
    margin: auto;
    margin-top: 6%;
    text-align: center;
    font-size: 17px;
}
.info{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    cursor: none;
}
.info p{
    padding-left: 20px;
}
textarea{
    font-family: 'Cascadia';
    font-size: 18px;
    margin: auto;
    width: 600px;
    height: 200px;
    position: relative;
    outline: none;
    border: 1.5px solid black;
    border-radius: 3px;
}
textarea:focus{
    border: 1.5px solid orange;
}

.buttons{
    padding: 10px 0;
    font-family: 'Cascadia';
    font-weight: 500;
}
input[type='button']{
    padding: 2px 4px;
    font-size: 14px;
    margin: 10px 0;
    font-family: 'Cascadia';
    font-weight: lighter;
    cursor: pointer;
    background-color: rgba(135, 207, 235, 0.753);
    outline: none;
    border: 1px solid rgb(10, 205, 219);
    border-radius: 3px;
}

#lang_detecter{
    display: none;
}
#clear{
    background-color: rgba(189, 49, 107, 0.603);
    outline: none;
    border: 1px solid black;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
}

#lang_detecter #lang_html{
    color: rgb(168, 10, 129);
    display: none;
}
#lang_detecter #lang_php{
    color: rgb(12, 46, 199);
    display: none;
}
#lang_detecter #lang_javascript{
    color: rgb(168, 94, 10);
    display: none;
}
@media only screen and (max-width:660px){
    textarea{
        width: 460px;
    }
}